<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.2/mapbox.js'></script>
<section class="index">
	<aside>
		<form>
			<input type="text" placeholder="20850">
		</form>

		<h3> Choose a language: </h3>
			<ul>
				<% @languages.each do |language| %>
						<li class = "lang-button">
						<div id="<%= language.name.downcase.gsub(' ', '') %>"></div>
						<%= language.name.upcase %>
						</li>
			<% end %> 
	</aside>

	<div id="map"></div>

</section>
