<section class="index">
	<% @languages.each do |language| %>
		<div class = "lang-box" id="<%= language.name.downcase.split.join %>">
			<%= link_to language.name, language_path(language) %>
		</div> 
	<% end %> 
</section>
