<section class="index">
	<h1> Choose a pairing language: </h1>
	<% @languages.each do |language| %>
		<a href="<%= language_path(language)  %>">	<div class = "lang-button" id="<%= language.name.downcase.split.join %>">
				<%= language.name.upcase %>
			</div> 
		</a>
	<% end %> 
</section>
