<div class="partners"> 
	<h2> My Pears <small> (<%= current_user.partners.count %>) </small> </h2>
<% current_user.partners.each do |partner| %>
	<%= image_tag partner.avatar(:thumb) %>
<% end %>
</div>