<%= render 'shared/flash' %> 
<section class="user-show">

	<%= render 'info' %>

	<%# else %>
		<% if current_user == @partner %>
		<div class="pairings">
			<%# if @requests.any? %>
				<%= render 'requests' %>
			<%# end %>	
			<%# if current_user.partners.any? %>
				<%= render 'partners' %>
			<%# end %>
		</div>
		<%# end %>
	<% end %>
</section>