navbar{
	position: absolute;
	top: 0;
	left: -350px;
	width: 15%;
	height: 100%;
	background: #000;
	color: #fff;
	text-align: center;
	-webkit-transition: 0.5s;
	li{
		margin:20px;
	}
}

navbar.active{
	left: 0;
}

.wrapper{
	-webkit-transition: 0.5s;
}

#hamburger{
	color: #000;	
	font-size: 30px;
	position: absolute;
	z-index: 1;
	top: 0;
	margin-left: 25px;
}

.wrapper.active{
	margin-left: 170px;
}


